<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ColorsAPI</title>
    <link rel="stylesheet" href="https://use.typekit.net/ydr0lrh.css">
    <link rel="stylesheet" href="style.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
</head>
<body>
    <div class="wrapper">
        <header>
            <img id="logo" src="assets/logo.png" width="10%">
        </header>
        <main>
            <h1>File Not Found</h1>
        </main>
    </div>
    <footer>
        &copy; 2020 Color API - A colorful world 🚀
        <div class="links">
            <a href="/docs">API Documentation</a> -
            <a href="https://github.com/moritzmitterdorfer/color-api">Open Source Code</a>
        </div>
    </footer>
</body>
</html>